.site-footer {
    @extend .dark;

    .social-media-links {
        li {
            list-style-type: none;
            display: inline;

            img {
                max-width: 54px;
            }
            a {
                text-decoration: none;
            }
        }
    }
}